div {
  margin: .2em;
}
nav {
  width: 100%;
  margin: 0 auto;
  padding: .5em;
  text-align: center;
}
nav > span {
  padding: .3em;
  margin: .2em;
  font-size: 2em;
  cursor: pointer;
  background-color: #aeaeae;
}
nav > span.active {
  background-color: #6e6e6e;
  color: #cccccc;
}
nav > span:hover {
  opacity: 0.4;
}

.example {
  background-color: #cecece;
  padding: .5em;
  margin: .5em;
}

/**/

.square{
  width: 100px;
  height: 100px;
}

.v {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.h {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

td {
  text-align: center;
  font-size: 50px
}

/**/

.close {
  /* position: absolute;
  right: 32px;
  top: 32px; */
  width: 32px;
  height: 32px;
  opacity: 0.3;
  margin: auto;
}
/* .close:hover {
  opacity: 1;
} */
.close:before, .close:after {
  /* position: relative;
  top: 175px;
  left: 75px; */
  /* position: relative; */
  /* top: 0; */
  /* left: 75px; */
  content: ' ';
  height: 100px;
  width: 2px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}