/* LAYOUT */

section.content {
  display: flex;
  flex-direction: row;
}

section.content > div.left {
  flex-basis: 30%;
  margin: 1em 1em 1em 1em;
}

section.content > div.right {
  flex-basis: 70%;
  margin: 1em 1em 1em 1em;
}

/* stack for mobile */
@media (max-width: 650px) {
  section.content {
    flex-direction: column;
  }
}

/* TIC TAC TOE BOARD*/ 


