.square {
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 50px;
}

.v {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.h {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

